Does the draft need a Private Key section?

@seanturner do we need a Private Key section?

Other drafts that update RFC3279 or RFC8419 which brings a new algorithm to CMS, I did not see them including a Private Key format for any of the algorithms. 

Encoding private keys is useful to the signer, but does this specification need to define it? Wouldn't that be an update to RFC5958?

I would agree it would be nice to have a single comprehensive document for both public and private keys and would also point to RFC8410 as an example.

Among other things RFC8410 included PKCS#8 v1 and v2 private key test vectors in their PEM encoding, which would be something nice to see in a similar RFC for ML-KEM / ML-DSA.

(Though I would hope you don't make the same mistake of including a nested inner `OCTET STRING` in the `private_key` field, which is just needless complexity)

For ML-KEM, I think it might be worth considering using a KDF to expand a smaller seed (i.e. one that matches the security level, as opposed to a 64-byte one).

Some discussion about that on pqc-forum here: https://groups.google.com/a/list.nist.gov/g/pqc-forum/c/1r6FnG0coiM/m/I9_Jn5lJDQAJ

I agree that would be nice, and we [suggested it](https://groups.google.com/a/list.nist.gov/g/pqc-forum/c/5CT4NC_6zRI/m/lpifFrpWAwAJ) for the final version of ML-KEM. NIST didn't go for it. Now the problem is that we don't want the mess that some implementation support a 32 byte seed and others a 64 byte seed. With the 32 byte seed we don't have to think about MAL-BIND-X, but that security property has rather marginal applicability anyway. Not sure it's worth creating a mess with having two kinds of seeds.

> Now the problem is that we don't want the mess that some implementation support a 32 byte seed and others a 64 byte seed.

Unambiguously supporting both is possible, but perhaps more pain than it's worth.

I noticed https://github.com/lamps-wg/x509-slhdsa has some example PEM files: `id-slh-dsa-sha2-128s.priv` and
`id-slh-dsa-sha2-128s.pub`.

It would be nice to have something similar here.

@tarcieri we added some examples.

I am going to close this one out, because it looks like we have agreement to do it.

I'm strongly in support of defining private key storage too, interoperability testing is one thing, but side-channel validation is another: I need to know what private key the System Under Test is using to see if its behaviour leaks part of the expanded private key. The easiest way to do it is to import externally generate private keys to it.

Finally getting around to closing this out.